@model IEnumerable<StarSecurityService.ApplicationCore.Entities.Vacancy>
@{
    ViewBag.Title = "Career";
}
@section stylecss{
    <link href="~/Content/wp-css/Career.css" rel="stylesheet" />
}

@section sub_header_career {
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">Career</h1>
            </div>
        </div>
    </div>
}



@section style{
    <style>
    </style>
}

<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width" style="padding-top:0px;padding-bottom:0px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix" style="padding:80px 8% 80px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cf7p4ggt6 one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="margin-bottom: 0;">Vacancy</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5ye0ocfyz one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 50px;" />
                                </div>
                                @foreach (var item in Model)
                                {
                                    <div class="column mcb-column mcb-item-4d35b29d5 one-fourth column_column text-white column-margin-30px">
                                        <div class="column_attr clearfix align_left" style="">
                                            <div class="box-mar row">
                                                <h4 style="word-wrap:break-word;">@item.Title</h4>
                                                <div>
                                                    <a class="button button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="float: left;" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="pum-2152"
     class="pum pum-overlay pum-theme-2143 pum-theme-default-theme popmake-overlay pum-click-to-close click_open"
     data-popmake="{&quot;id&quot;:2152,&quot;slug&quot;:&quot;career-popup&quot;,&quot;theme_id&quot;:2143,&quot;cookies&quot;:[],&quot;triggers&quot;:[{&quot;type&quot;:&quot;click_open&quot;,&quot;settings&quot;:{&quot;extra_selectors&quot;:&quot;&quot;,&quot;cookie_name&quot;:null}}],&quot;mobile_disabled&quot;:null,&quot;tablet_disabled&quot;:null,&quot;meta&quot;:{&quot;display&quot;:{&quot;stackable&quot;:&quot;1&quot;,&quot;overlay_disabled&quot;:false,&quot;scrollable_content&quot;:false,&quot;disable_reposition&quot;:false,&quot;size&quot;:&quot;tiny&quot;,&quot;responsive_min_width&quot;:&quot;0%&quot;,&quot;responsive_min_width_unit&quot;:false,&quot;responsive_max_width&quot;:&quot;100%&quot;,&quot;responsive_max_width_unit&quot;:false,&quot;custom_width&quot;:&quot;640px&quot;,&quot;custom_width_unit&quot;:false,&quot;custom_height&quot;:&quot;380px&quot;,&quot;custom_height_unit&quot;:false,&quot;custom_height_auto&quot;:false,&quot;location&quot;:&quot;center&quot;,&quot;position_from_trigger&quot;:false,&quot;position_top&quot;:&quot;100&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;position_fixed&quot;:false,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;350&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;overlay_zindex&quot;:false,&quot;zindex&quot;:&quot;1999999999&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;0&quot;,&quot;overlay_click&quot;:&quot;1&quot;,&quot;esc_press&quot;:false,&quot;f4_press&quot;:false},&quot;click_open&quot;:[]}}"
     role="dialog" aria-hidden="true" aria-labelledby="pum_popup_title_2152">

    <div id="popmake-2152"
         class="pum-container popmake theme-2143 pum-responsive pum-responsive-tiny responsive size-tiny">
        <div id="pum_popup_title_2152" class="pum-title popmake-title">
            Apply Now
        </div>
        <div class="pum-content popmake-content">
            <div role="form" class="wpcf7" id="wpcf7-f2142-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="#wpcf7-f2142-o1" method="post" class="wpcf7-form"
                      enctype="multipart/form-data" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="2142" />
                        <input type="hidden" name="_wpcf7_version" value="5.1.6" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2142-o1" />
                        <input type="hidden" name="_wpcf7_container_post" value="0" />
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-name">
                            <input type="text"
                                   name="your-name" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                   aria-required="true" aria-invalid="false" placeholder="Full Name" />
                        </span>
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email"
                                   name="your-email" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                   aria-required="true" aria-invalid="false" placeholder="Email Address" />
                        </span>
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-number">
                            <input type="tel"
                                   name="your-number" value="" size="40"
                                   class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                   aria-required="true" aria-invalid="false" placeholder="Contact Number" />
                        </span>
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-position">
                            <select name="your-position"
                                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                    aria-required="true" aria-invalid="false">
                                <option value="">-- Select Position --</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="HSE Engineer">HSE Engineer</option>
                                <option value="Security Supervisor">Security Supervisor</option>
                                <option value="Sr. Control Room Operator">Sr. Control Room Operator</option>
                                <option value="Control Room Operator">Control Room Operator</option>
                                <option value="security work force (Male/Female)">
                            </select>
                        </span>
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-file">
                            <input type="file"
                                   name="your-file" size="40"
                                   class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required"
                                   accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                                   aria-required="true" aria-invalid="false" />
                        </span>
                    </div>
                    <div class="column one">
                        <span class="wpcf7-form-control-wrap your-msg">
                            <textarea name="your-msg"
                                      cols="4" rows="3" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                                      placeholder="message"></textarea>
                        </span>
                    </div>
                    <div class="column one">
                        <input type="submit" value="Submit"
                               class="wpcf7-form-control wpcf7-submit" />
                    </div>
                    <input type='hidden' class='wpcf7-pum'
                           value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>

        <button type="button" class="pum-close popmake-close" aria-label="Close">
            X
        </button>

    </div>

</div>
