@model IEnumerable<StarSecurityService.ApplicationCore.Entities.ServiceOffer>
@{
    ViewBag.Title = "Career";
}
@section stylecss{
    <link href="~/Content/wp-css/Career.css" rel="stylesheet" />
}
@section sub_header_career {
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">Career</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width" style="padding-top:0px;padding-bottom:0px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix" style="padding:80px 8% 80px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cf7p4ggt6 one column_column"><div class="column_attr clearfix align_center" style=""><h3 style="margin-bottom: 0;">Vacancy</h3></div></div><div class="column mcb-column mcb-item-5ye0ocfyz one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 50px;" />
                                </div>
                                <div class="column-vacancy">
                                @foreach (var item in Model)
                                {
                                    <div class="column mcb-column mcb-item-4d35b29d5 one-fourth column_column text-white column-margin-30px">
                                        <div class="column_attr clearfix align_left" style="">
                                            <div class="box-mar">
                                                <h4>@item.Title</h4>
                                                <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="column mcb-column mcb-item-qzaemcgmf one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

