
@{
    ViewBag.Title = "Divisions";
}
@section sub_header_division{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">DIVISIONS</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width mt-40"
                     style="padding-top:0px;padding-bottom:0px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:80px 8% 60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <h3 style="margin-bottom: 0;">DIVISION </h3>

                                        <hr class="no_line" style="margin: 0 auto 10px;" />

                                        <p style="color:#fff">
                                            Star Security provides induction training through
                                            its SIRA qualified trained instructors, before the new recruits
                                            enter the actual work field. It has set up a dedicated Training
                                            Institute in Al Mamzar area. The successful candidates are sent to
                                            Dubai Police Academy.
                                        </p>



                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-24qf43kre three-fifth column_slider">
                                    <div class="content_slider flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai7.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai7.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai7-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai7-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai7-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai7-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai7-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai6.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai6.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai6-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai6-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai6-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai6-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai6-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_3">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai5.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai5.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai5-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai5-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai5-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai5-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai5-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_4">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai4.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai4.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_5">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai3.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai3.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai3-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai3-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai3-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai3-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai3-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_6">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai2.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai2.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai2-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai2-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai2-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai2-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai2-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_7">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/dubai1.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai1.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

