
@{
    ViewBag.Title = "Facilities";
}
@section sub_header_facilities{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">FACILITIES</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40 text-white" id="mt-40"
                     style="padding-top:80px;padding-bottom:40px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one-second  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnetoqwrz one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h4 style="text-transform: uppercase;">
                                            Star Security Services provides
                                            many services and facilities for its staff members.
                                            The training institute of Star Security Services is well equipped
                                            for providing professional training & has various facilities such
                                            as:
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-w3t94awfi one-second  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            <ul>
                                                <li>Training Arabic and English candidates </li>
                                                <li>Computer training </li>
                                                <li>
                                                    Basic equipment for the presentation of lessons and courses
                                                </li>
                                                <li>A library which has a variety of books and video tapes</li>
                                                <li>Slide projector</li>
                                                <li>X-Ray machine for training </li>




                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width"
                     style="padding-top:0px;padding-bottom:0px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:80px 8% 80px;background-color:#ffffff">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column">
                                    <div class="column_attr clearfix align_left" style="padding:50px 10px 0 0;">
                                        <p>
                                            We own a large fleet of vehicles for timely transportation of
                                            security personnel. Uniforms are provided free of cost for security
                                            guards as well as for all escort personnel. Other perks include free
                                            transportation, accommodation, health insurance and insurance
                                            against accidents at work. The company is committed to honour all
                                            service regulations and labour laws applicable in the United Arab
                                            Emirates
                                        </p>



                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-bmvzbxptp three-fifth column_slider">
                                    <div class="content_slider flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/dubai1.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai1.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai1-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/12/facilities.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/12/facilities.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/12/facilities-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/12/facilities-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/12/facilities-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/12/facilities-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/12/facilities-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>
