
@{
    ViewBag.Title = "Recruitment";
}
@section sub_header_recruitment{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">RECRUITMENT</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40" id="mt-40"
                     style="padding-top:70px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnetoqwrz one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h4 style="text-transform: uppercase; color:#fff;">
                                            We lay great emphasis
                                            & stress over recruitment as we understand that it is the quality of
                                            good candidates who make excellent guards to satisfy our clients.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-w3t94awfi two-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one column_column text-white">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            To qualify with Star Security Services, each candidate must qualify
                                            in personality conversa tion, profile, written test, personal
                                            interview & medical test by a registered doctor. The selection
                                            process takes into account the fulfilment of all given conditions
                                            and criteria which are as follows:
                                        </p>

                                        <p>
                                            <ul>
                                                <li>
                                                    Must be at least 175 cm tall however candidates from Nepal are
                                                    given some relaxation.
                                                </li>
                                                <li>
                                                    Should be minimum high school diploma or its equivalent,
                                                    university degree holders are given preference.
                                                </li>
                                                <li>Security experience of minimum 2 years. </li>
                                                <li>Age between 21 to 45 years. </li>
                                                <li>Body must be well proportioned & fit. </li>
                                                <li>Robust health </li>


                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width"
                     style="padding-top:0px;padding-bottom:0px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:70px 8% 70px;background-color:#ffffff">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 one-second column_column">
                                    <div class="column_attr clearfix align_left" style="padding:0 10px 0 0;">
                                        <p>
                                            All security personnel are required to maintain a presentable
                                            appearance, high morals and good manners in addition to physical
                                            fitness so that they are ever ready to perform the tasks they are
                                            entrusted with.
                                        </p>
                                        <p>
                                            We take great pride in intimating that due to our strict selection
                                            procedures & the quality of guards who are selected from various
                                            countries, our passing percentage in NSI & PSBD examinations are
                                            100%.
                                        </p>



                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-jcx33gw38 one-second column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid"
                                                 src="~/Content/wp-content/uploads/2019/11/dubai3.jpg" alt=""
                                                 title="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                    <hr class="no_line" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>
