
@{
    ViewBag.Title = "Supervision";
}
@section sub_header_supervision{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">SUPERVISION &#038; OPERATION&#8217;S ROOM</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width"
                     style="padding-top:0px;padding-bottom:0px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:70px 8% 70px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column">
                                    <div class="column_attr clearfix align_left" style="padding:0 10px 0 0;">
                                        <h3 style="margin-bottom: 0;">
                                            SUPERVISION & OPERATION'S ROOM
                                        </h3>
                                        <hr class="no_line" style="margin: 0 auto 10px;" />

                                        <p style="color:#fff;">
                                            The company ensures certain mechanisms and devices that allow a
                                            certain ease and speed of communication between managers, staff and
                                            the security guards at all times. The control room is designed to
                                            respond immediately to any kind of routine or distress calls. The
                                            operation officials carry out surprise inspections round the clock.
                                            These supervisors are fully aware of all details and characteristics
                                            of their sites and establishments. The operations room works round
                                            the clock seven days a week supervised by highly qualified personnel
                                            and equipped with the latest technologies and wireless communication
                                            devices and mobile phones in addition to car patrols.
                                        </p>



                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-x2e8qvk7c three-fifth column_slider">
                                    <div class="content_slider flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/video5.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/video5.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/video5-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/video5-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/video5-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/video5-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/video5-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="900" height="500"
                                                     src="~/Content/wp-content/uploads/2019/11/video3.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/video3.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/video3-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/video3-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/video3-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/video3-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/video3-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                    <hr class="no_line" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

