
@{
    ViewBag.Title = "AboutUs";
}
@section sub_header_about{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">ABOUT US</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40" id="mt-40" style="padding-top:80px;padding-bottom:30px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one  valign-top clearfix" style="padding:0 2%"><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-bnetoqwrz one column_column"><div class="column_attr clearfix align_center" style=""><h4 style="text-transform: uppercase; color:#fff;">Star Security Services was founded in Abu Dhabi in April 2006 and dates back to the formation of the Enterprise of Mohamed Al Qubaisi.</h4></div></div></div></div><div class="wrap mcb-wrap mcb-wrap-w3t94awfi one  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <p style="color: #fff;">SSS has been servicing large Government organizations since 2008. Starting the security business in the year 2006 the company has expanded its staff strength over 3500 within short span of time by the dint of its dedication and merit in terms od operation, scope of services and customer confidence. SSS has developed in advanced technology systems like CCTV cameras, communication devices, Scanners and surveillance radar, round the clock control room.</p>

                                        <p style="color: #fff;">The company owes its success to its use of advanced technology and its team of security dedicated security personnel who are equipped with knowledge, field experience and professional skills of security protection in all environments. The company covers all the security requirements such as protection of entrances, lobbies and other keys areas of the given premises & surveillance, etc. The impressive increase in human resources is an indicator of success and the determination of the company to constantly develop its services as well as improve customer satisfaction.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap mcb-wrap-dtm7llnio one  valign-top clearfix" style=""><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-zb3amd6ln one column_column"><div class="column_attr clearfix align_center" style=""><p style="color: #fff;">Over the past several years the company has been providing services to Oil & Gas field clients and today Star Security Services has agreement with ADNOC, ADNOC (FOD), GASCO, NDC, Gulf Marine Services, ELIXIER & other companies. We have successfully satisfied the demands of our clients.</p></div></div></div></div>
                    </div>
                </div><div class="section mcb-section mcb-section-rqird4puy" style="padding-top:80px;padding-bottom:40px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-2tkcgcxso three-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-re6rr27wa one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h4 class="themecolor">COMMITMENT TO QUALITY</h4>
                                        <p style="color: #212121;">
                                            Star Security Services believes in the importance of providing quality services in accordance with local & international regulatory requirements based on integrated Management Systems (IMS). Its services and products are geared towards meeting the wishes of the clients and work towards optimizing performance standards. We use the latest state- of – art technologies such as TETRA device for communication.<br>

                                            Star Security Services is committed to implementing the requirements of the quality and fulfill client requirements at all facilities, installations and properties so as to provide a secure environment to the employees and their guests. There is constant improvement in its services as professionally trained security personnel update their knowledge and keep abreast of developments in the fields of security services and customer care. The outstanding guards are suitably rewarded & given appreciation certificates to boost the morale of employees.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap mcb-wrap-whwfs3ksd two-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9ffc97bt3 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="~/Content/wp-content/uploads/2019/11/commitment-e1612526985392.jpg" alt="" title="" /></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section mcb-section mcb-section-h71zmt6qm mission-vision" style="padding-top:60px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-1jbx802fx one-second  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-tf77cp83x one column_fancy_heading m-heading">
                                    <div class="fancy_heading fancy_heading_icon"><h2 class="title">MISSION</h2></div>
                                </div><div class="column mcb-column mcb-item-sqlbzvkxd one column_photo_box">
                                    <div class="photo_box  without-desc"><div class="image_frame"><div class="image_wrapper"><div class="mask"></div><img class="scale-with-grid" src="~/Content/wp-content/uploads/2019/11/mission-vision-e1612526404484.jpg" alt="" /></div></div></div>
                                </div><div class="column mcb-column mcb-item-alpbud392 one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p style="color: #fff;">
                                            Our mission is to provide protection and security to our clients through a bespoke service tailored to their specific needs, ultimately the safety and security of the client’s staff, premises, assets and the general public is our highest priority.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap mcb-wrap-xyf1hmqpw one-second  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-ljwqe89ya one column_fancy_heading m-heading">
                                    <div class="fancy_heading fancy_heading_icon"><h2 class="title">VISION</h2></div>
                                </div><div class="column mcb-column mcb-item-dh352htw4 one column_photo_box">
                                    <div class="photo_box  without-desc"><div class="image_frame"><div class="image_wrapper"><div class="mask"></div><img class="scale-with-grid" src="~/Content/wp-content/uploads/2019/11/mission-vision-e1612526404484.jpg" alt="" /></div></div></div>
                                </div><div class="column mcb-column mcb-item-sm2zhzcy6 one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p style="color: #fff;">
                                            We are committed to the ongoing improvement of the services we provide to our clients. By investing in and developing our most important assets, our staff, we aim to achieve all our goals and exceed our clients’ expectations. Through our commitment to high standards it is our vision to earn the trust of our clients by delivering the best quality security services within the UAE.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section mcb-section mcb-section-d48aib99c" style="padding-top:60px;padding-bottom:20px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-jjtlvhr3a three-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnykrwt4b one column_fancy_heading m-heading color-444">
                                    <div class="fancy_heading fancy_heading_icon"><h2 class="title">VALUES</h2></div>
                                </div><div class="column mcb-column mcb-item-c5qc8hw8o one column_column values">
                                    <div class="column_attr clearfix" style="">
                                        <p style="color: #212121;">
                                            As a company and as individuals we value above all else honesty, integrity, unselfishness, professionalism and mutual respect. For our staff, we offer a rewarding and challenging environment where personal development can flourish. We hold ourselves accountable to our clients, staff and partners by honoring our commitments, providing results and continually striving to provide the highest quality security services.
                                        </p>
                                        <ul>
                                            <li>S-Secure </li>
                                            <li>E-Earnest</li>
                                            <li>C-Commitment</li>
                                            <li>U-Useful </li>
                                            <li>R-Respect</li>
                                            <li>E-Expansion </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap mcb-wrap-5v4g7e4t4 two-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-jx56uxsd1 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="~/Content/wp-content/uploads/2019/11/commitment-e1612526985392.jpg" alt="" title="" /></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">
                        <div class="column one page-pager">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

