
@{
    ViewBag.Title = "Career";
}
@section stylecss{
    <link href="~/Content/wp-css/Career.css" rel="stylesheet" />
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width" style="padding-top:0px;padding-bottom:0px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix" style="padding:80px 8% 80px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cf7p4ggt6 one column_column"><div class="column_attr clearfix align_center" style=""><h3 style="margin-bottom: 0;">Vacancy</h3></div></div><div class="column mcb-column mcb-item-5ye0ocfyz one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 50px;" />
                                </div><div class="column mcb-column mcb-item-4d35b29d5 one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4>Project Manager</h4>
                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-pl5oj3ewq one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">HSE Engineer</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-nw1k03rp0 one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Security Supervisor</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-o6f3ns5lz one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. Control Room Operator</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div><div class="column mcb-column mcb-item-booszvets one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Control Room Operator</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-aovz55uz8 one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">security work force (Male/Female)</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-bc2hcj44l one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">security work force (Male/Female)</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-a1r8gm84j one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Security Guard (Male/Female)</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-5ofxjol8g one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div><div class="column mcb-column mcb-item-kz5hxhpxy one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Concierge</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-mn64uitae one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. Document Controller</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-92iprvfyk one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. Officer Security pass</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-oa0z1u2zh one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. Officer ID controller</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-qzaemcgmf one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div><div class="column mcb-column mcb-item-uz7geplue one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Administration Secretary</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-45ixyw6oo one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. ASSET Management Analyst</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-oxqtjpczj one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Financial Assistant</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-dvp6dwa2c one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Senior Security Specialist</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-0405dd74b one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div><div class="column mcb-column mcb-item-6hr8vxyr8 one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Security Specialist</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-2a23ti9i8 one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Security Consultant</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-raf511j1v one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Crisis Management Officer</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-vpdufmx8q one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Sr. Management Contract</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div><div class="column mcb-column mcb-item-ag6ip1l2j one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 20px;" />
                                </div><div class="column mcb-column mcb-item-bi63aj30c one-fourth column_column text-white column-margin-30px">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div class="box-mar">
                                            <h4 style="margin-bottom: 0;">Security Trainer</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />

                                            <a class="button  button_right button_size_1 button_theme button_js kill_the_icon popmake-2152" style="box-shadow:2px 3px 4px 1px rgb(2 2 2 / 16%);" href="#popmake-836"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">Apply Now</span></a>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

