
@{
    ViewBag.Title = "DubaiDivision";
}
@section sub_header_dubaidivision{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">DUBAI DIVISIONS</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width mt-40"
                     style="padding-top:0px;padding-bottom:0px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:80px 8% 60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <h3 style="margin-bottom: 0;">DUBAI DIVISION </h3>

                                        <hr class="no_line" style="margin: 0 auto 10px;" />

                                        <p style="color:#fff">
                                            Star Security provides induction training through
                                            its ASSD qualified trained instructors, before the new recruits
                                            enter the actual work field. It has set up a dedicated Training
                                            Institute in Mussafah area. The successful candidates are sent to
                                            National Security Institute (NSI) for a period of five days for
                                            training. The guards who qualify NSI are sent for the ASSD
                                            examination to obtain police license.
                                        </p>




                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-24qf43kre three-fifth column_slider">
                                    <div class="content_slider flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu1.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu1.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu1-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu1-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu1-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu1-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu1-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu2.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu2.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu2-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu2-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu2-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu2-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu2-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_3">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu3.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu3.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu3-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu3-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu3-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu3-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu3-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_4">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu5.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu5.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu5-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu5-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu5-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu5-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu5-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_5">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu4.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu4.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>
