
@{
    ViewBag.Title = "Star Security";
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-ylkmrierc"
                     style="padding-top:80px;padding-bottom:10px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-187q43x0j one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-lh3o7uyfp one-fifth column_column">
                                    <div class="column_attr clearfix align_left animate"
                                         data-anim-type="fadeInLeft" style="padding:90px 0 0;">
                                        <h3 style="color:#6d6e72">OUR<br>SERVICES</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-xrrvx4bj6 one-fifth column_icon_box">
                                    <div class="animate" data-anim-type="fadeInUpLarge">
                                        <div class="icon_box icon_position_top no_border">
                                            <div class="image_wrapper">
                                                <img src="../../Content/wp-content/uploads/2019/07/SHIELD-guard.png"
                                                     class="scale-with-grid" alt="" />
                                            </div>
                                            <div class="desc_wrapper">
                                                <h5 class="title">GUARDING SERVICES</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-jq0d879rl one-fifth column_icon_box">
                                    <div class="animate" data-anim-type="fadeInUpLarge">
                                        <div class="icon_box icon_position_top no_border">
                                            <div class="image_wrapper">
                                                <img src="../../Content/wp-content/uploads/2019/07/SHIELD-camera.png"
                                                     class="scale-with-grid" alt="" />
                                            </div>
                                            <div class="desc_wrapper">
                                                <h5 class="title">SECURITY SURVAILANCE</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-e7yitw4vh one-fifth column_icon_box">
                                    <div class="animate" data-anim-type="fadeInUpLarge">
                                        <div class="icon_box icon_position_top no_border">
                                            <div class="image_wrapper">
                                                <img src="../../Content/wp-content/uploads/2019/07/SHIELD-fire.png"
                                                     class="scale-with-grid" alt="" />
                                            </div>
                                            <div class="desc_wrapper">
                                                <h5 class="title">FIRE &amp; SAFETY</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-22kml402a one-fifth column_icon_box">
                                    <div class="animate" data-anim-type="fadeInUpLarge">
                                        <div class="icon_box icon_position_top no_border">
                                            <div class="image_wrapper">
                                                <img src="../../Content/wp-content/uploads/2019/07/SHIELD-other.png"
                                                     class="scale-with-grid" alt="" />
                                            </div>
                                            <div class="desc_wrapper">
                                                <h5 class="title">OTHER SERVICES</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-5ydhpqene  no-margin-v bt-top"
                     style="padding-top:0px;padding-bottom:0px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-c42dxzzzt one-second  valign-middle clearfix"
                             style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-g5khn0yb7 one column_image">
                                    <div class="animate" data-anim-type="zoomIn">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid"
                                                     src="../../Content/wp-content/uploads/2019/07/welcomesection.png" alt=""
                                                     title="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-6s9q7k897 one-second  valign-top clearfix"
                             style="padding:0 30px 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-ebdoowcl4 one column_column">
                                    <div class="column_attr clearfix align_left animate"
                                         data-anim-type="fadeInRight" style="padding:110px 0 0;">
                                        <h3 style="color:#6d6e72">WHO WE ARE</h3>
                                        <p>
                                            Star Security Service LLC is company that represents modern security
                                            practices, outstanding management techniques and high efficiency
                                            standards enabling it to understand the needs and requirements of
                                            customers fully and provide them with effective security
                                            protection<br><br>

                                            The company ensures quality service through the adoption of an
                                            enlightened vision and policy to achieve the best principles and
                                            standards in the security field. It constantly aims to develop its
                                            core competencies and strength of its security personnel.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-mdcqgsqmc one column_button">
                                    <a class="button  button_right button_size_2 button_theme button_js"
                                       href="@Url.Action("AboutUs", "Client")">
                                        <span class="button_icon">
                                            <i class="icon-right-dir"></i>
                                        </span><span class="button_label">LEARN MORE</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-u97utt06q"
                     style="padding-top:100px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-rf6gif0t5 one  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-8vdaq1f1l one column_column">
                                    <div class="column_attr clearfix align_center animate"
                                         data-anim-type="fadeInDown" style="">
                                        <h3 style="color:#000">OUR DIVISIONS</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-7cw7d0iky one-second column_icon_box">
                                    <div class="animate" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border">
                                            <a class=""
                                               href="abu-dhabi-divisions/index.html">
                                                <div class="image_wrapper">
                                                    <img src="../../Content/wp-content/uploads/2019/07/abudhabi-team.jpg"
                                                         class="scale-with-grid" alt="" />
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 class="title">ABU DHABI DIVISION</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-u8w58k8p8 one-second column_icon_box">
                                    <div class="animate" data-anim-type="zoomIn">
                                        <div class="icon_box icon_position_top no_border">
                                            <a class=""
                                               href="dubai-divisions/index.html">
                                                <div class="image_wrapper">
                                                    <img src="../../Content/wp-content/uploads/2019/07/dubai-team.jpg"
                                                         class="scale-with-grid" alt="" />
                                                </div>
                                                <div class="desc_wrapper">
                                                    <h4 class="title">DUBAI DIVISION</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-wsspag9m3 bg-cover"
                     style="padding-top:100px;padding-bottom:0px;background-image:url(../../Content/wp-content/uploads/2019/07/parallax.jpg);background-repeat:no-repeat;background-position:center top;background-attachment:fixed;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-scrtuo65o one-third  valign-top clearfix"
                             style="padding:70px 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-skpfwq46x one column_column column-margin-0px">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h1 style="font-size:300px; font-weight:500;">15</h1>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-2ub3iifzl one column_column">
                                    <div class="column_attr clearfix align_center" style="padding:40px 0 0 0;">
                                        <h4>YEARS OF EXPERIENCE</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ulfm86eov two-third  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-ztav6yty4 one-fourth column_column">
                                    <div class="column_attr clearfix" style="">
                                        <div class="counter counter_vertical animate-math">
                                            <div class="icon_wrapper"><i class=" icon-heart-fa"></i></div>
                                            <div class="desc_wrapper">
                                                <div class="number-wrapper">
                                                    <span class="number"
                                                          data-to="600">600</span>
                                                </div>
                                                <p class="title">HAPPY CLIENTS</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-lehcs93vf one-fourth column_column">
                                    <div class="column_attr clearfix" style="">
                                        <div class="counter counter_vertical animate-math">
                                            <div class="icon_wrapper"><i class=" icon-trophy"></i></div>
                                            <div class="desc_wrapper">
                                                <div class="number-wrapper">
                                                    <span class="number"
                                                          data-to="20">20</span>
                                                </div>
                                                <p class="title">AWARDS WON</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-4bhwl735q one-fourth column_column">
                                    <div class="column_attr clearfix" style="">
                                        <div class="counter counter_vertical animate-math">
                                            <div class="icon_wrapper"><i class="icon-users "></i></div>
                                            <div class="desc_wrapper">
                                                <div class="number-wrapper">
                                                    <span class="number"
                                                          data-to="3500">3500</span>
                                                </div>
                                                <p class="title">GUARDS</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-9ygtj5epl one-fourth column_column">
                                    <div class="column_attr clearfix" style="">
                                        <div class="counter counter_vertical animate-math">
                                            <div class="icon_wrapper"><i class="icon-home "></i></div>
                                            <div class="desc_wrapper">
                                                <div class="number-wrapper">
                                                    <span class="number"
                                                          data-to="5">5</span>
                                                </div>
                                                <p class="title">BRANCHES</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-oirt0t5f6"
                     style="padding-top:100px;padding-bottom:0px;background-color:#e9eaeb">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-ak7d0dl4y one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-v9osh6lds one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color:#6d6e72">WE ARE ORGANIZED FOR</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-ws2o47t91 one column_divider">
                                    <hr class="no_line" />
                                </div>
                                <div class="column mcb-column mcb-item-keh5ius4j one-third column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <ul class="list_star">
                                            <li>
                                                Guarding Services as laid down by the PSBD, Abu Dhabi Police
                                            </li>
                                            <li>Guarding the Oil & Gas fields, onshore and offshore </li>
                                            <li>Guarding the warehouses</li>
                                            <li>Guarding of factories and production facilities. </li>
                                            <li>Guarding hospitals and health centers. </li>
                                            <li>
                                                Event Management such as marriages, cultural events, star/
                                                musical shows etc.
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-d50t44lix one-third column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <ul class="list_star">
                                            <li>
                                                Giving security cover to banks,
                                                government bodies and institutions
                                            </li>
                                            <li>
                                                Covering special ceremonies and
                                                festivals. Protecting ships, vessels and ports.
                                            </li>
                                            <li>
                                                Guarding hotels and hotel apartments, private premises and other
                                                properties.
                                            </li>
                                            <li>
                                                Guarding malls and department stores.
                                            </li>
                                            <li>Covering universities, institutes and schools. </li>
                                            <li>
                                                Technical Assistance for Surveillance Systems. Providing trained
                                                security personnel as CCTV operator, receptionist, telephone
                                                operator, BMS operators and for car parking.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-svjiiiyfo one-third column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <ul class="list_star">
                                            <li>
                                                Guarding airport facilities, accessories and sports stadiums.
                                            </li>
                                            <li>
                                                Protecting buildings and institutions which are under
                                                construction.
                                            </li>
                                            <li>
                                                Guarding embassies and diplomatic corps.
                                            </li>
                                            <li>
                                                Security Consultancy Services.
                                                Security Audit and Investigations.
                                            </li>
                                            <li>
                                                Professional Training & Development, Risk Management & Loss
                                                Prevention.
                                            </li>
                                            <li>
                                                Providing manpower for mobile patrol service.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-hsv8cawte one column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <p>
                                            We lay great emphasis & stress over recruitment as we understand that
                                            it is the quality of good candidates who make excellent guards to
                                            satisfy our clients.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-9yg0bm3om  equal-height-wrap full-width"
                     style="padding-top:0px;padding-bottom:0px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-yymt0m12a one-second  valign-top bg-cover clearfix"
                             style="background-image:url(../../Content/wp-content/uploads/2019/07/expertise.jpg);background-repeat:no-repeat;background-position:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-3mqyiqfgz one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 500px;" />
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ihdxa2swe one-second  valign-top bg-cover clearfix"
                             style="padding:150px 2% 110px;background-color:1d283c">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-fgymifhbt one column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <h3 style="color:#000">COMMITMENT TO QUALITY </h3>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />

                                        <p style="color:#000">
                                            Star Security Services believes in the importance
                                            of providing quality services in accordance with local &
                                            international regulatory requirements based on Integrated Management
                                            Systems (IMS). Its services and products are geared towards meeting
                                            the wishes of clients and work towards optimizing performance
                                            standards. We use the latest state-of-art technologies such as TETRA
                                            device for communication
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-srq5j69zx"
                     style="padding-top:80px;padding-bottom:20px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-jvlc5ac3t one-second  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-w6y5u4ge2 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid"
                                                 src="../../Content/wp-content/uploads/2019/08/smallslider2.jpg" alt=""
                                                 title="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-o6f8rmh11 one-second  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-frvx4jeuu one column_column">
                                    <div class="column_attr clearfix align_left" style="">
                                        <div style="margin-left: 6%; margin-top: 15px;">

                                            <h2 style="margin-bottom: 20px; font-size: 35px; line-height: 42px; color:#6d6e72;">
                                                WHY STAR SECURITY SERVICES?
                                            </h2>

                                            <div class="list_item lists_2 clearfix">
                                                <div class="list_left list_image">
                                                    <img src="../../Content/wp-content/uploads/2019/08/home_security_features_1.png"
                                                         class="scale-with-grid" alt="" />
                                                </div>
                                                <div class="list_right">
                                                    <h4>Perfection in every second</h4>
                                                    <div class="desc">
                                                        Excellent track record of supply to
                                                        reputed organizations such as ADNOC, ADNOC (FOD), GASCO,
                                                        NDC, IAT, AL HOSN GAS, Khalifa University, NPCC,
                                                        Etihad Rail, Abu Dhabi Municipality
                                                    </div>
                                                </div>
                                            </div>


                                            <hr class="no_line" style="margin: 0 auto 20px;" />


                                            <div class="list_item lists_2 clearfix">
                                                <div class="list_left list_image">
                                                    <img src="../../Content/wp-content/uploads/2019/08/home_security_features_2.png"
                                                         class="scale-with-grid" alt="" />
                                                </div>
                                                <div class="list_right">
                                                    <h4>Good 24/7 communication</h4>
                                                    <div class="desc">
                                                        Our National Security Institute results
                                                        are by far the best because of the high quality
                                                        recruitments of guards done by our managers.
                                                    </div>
                                                </div>
                                            </div>

                                            <hr class="no_line" style="margin: 0 auto 20px;" />

                                            <div class="list_item lists_2 clearfix">
                                                <div class="list_left list_image">
                                                    <img src="../../Content/wp-content/uploads/2019/08/home_security_features_4.png"
                                                         class="scale-with-grid" alt="" />
                                                </div>
                                                <div class="list_right">
                                                    <h4>Emergency help</h4>
                                                    <div class="desc">
                                                        Comprehensive & professional
                                                        methods of recruitment to provide best security
                                                        personnel to our clients.
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-q5wkmggug"
                     style="padding-top:80px;padding-bottom:20px;background-image:url(../../Content/wp-content/uploads/2019/07/others-back.jpg);background-repeat:no-repeat;background-position:center;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-pswgfny5m one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bp35l7zlc one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color:#3a3a3a;">OTHER SERVICES</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-eit5iat9i one column_slider">
                                    <div class="content_slider description flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="1018" height="572"
                                                     src="../../Content/wp-content/uploads/2019/07/service-slider3.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="../../Content/wp-content/uploads/2019/07/service-slider3.jpg 1018w, ../../Content/wp-content/uploads/2019/07/service-slider3-300x169.jpg 300w, ../../Content/wp-content/uploads/2019/07/service-slider3-768x432.jpg 768w, ../../Content/wp-content/uploads/2019/07/service-slider3-260x146.jpg 260w, ../../Content/wp-content/uploads/2019/07/service-slider3-50x28.jpg 50w, ../../Content/wp-content/uploads/2019/07/service-slider3-133x75.jpg 133w"
                                                     sizes="(max-width: 1018px) 100vw, 1018px" />
                                                <h3 class="title">FRONT DESK ASSISTANCE</h3>
                                                <div class="desc">
                                                    Star Security has a 24 / 7 Operational help
                                                    desk for the continues support to the clients and staff
                                                    alike. Our reception are highly professional and supporter
                                                    to all.
                                                </div>
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="1018" height="572"
                                                     src="../../Content/wp-content/uploads/2019/07/service-slider2.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="../../Content/wp-content/uploads/2019/07/service-slider2.jpg 1018w, ../../Content/wp-content/uploads/2019/07/service-slider2-300x169.jpg 300w, ../../Content/wp-content/uploads/2019/07/service-slider2-768x432.jpg 768w, ../../Content/wp-content/uploads/2019/07/service-slider2-260x146.jpg 260w, ../../Content/wp-content/uploads/2019/07/service-slider2-50x28.jpg 50w, ../../Content/wp-content/uploads/2019/07/service-slider2-133x75.jpg 133w"
                                                     sizes="(max-width: 1018px) 100vw, 1018px" />
                                                <h3 class="title">ELECTRONIC SECURITY SYSTEMS</h3>
                                                <div class="desc">
                                                    We have state of the art Security Technology
                                                    to accommodate all our clients needs and are continuously
                                                    developing and update the systems as they improve over time
                                                    in order to be kept up to date.
                                                </div>
                                            </li>
                                            <li class="content_slider_li_3">
                                                <img width="1018" height="572"
                                                     src="../../Content/wp-content/uploads/2019/07/service-slider1.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="../../Content/wp-content/uploads/2019/07/service-slider1.jpg 1018w, ../../Content/wp-content/uploads/2019/07/service-slider1-300x169.jpg 300w, ../../Content/wp-content/uploads/2019/07/service-slider1-768x432.jpg 768w, ../../Content/wp-content/uploads/2019/07/service-slider1-260x146.jpg 260w, ../../Content/wp-content/uploads/2019/07/service-slider1-50x28.jpg 50w, ../../Content/wp-content/uploads/2019/07/service-slider1-133x75.jpg 133w"
                                                     sizes="(max-width: 1018px) 100vw, 1018px" />
                                                <h3 class="title">SECURITY TEAM</h3>
                                                <div class="desc">
                                                    Our Security teams are hand picked by Army /
                                                    Police background managers in order to guarantee the highest
                                                    quality delivered to the clients
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-01go2egtc"
                     style="padding-top:80px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-w4axad3wk one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-a9dzvpy3m one column_column column-margin-0px">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color:#fff;">Our Clients</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-t3muiw2of one column_clients_slider">
                                    <div class="clients_slider">
                                        <div class="clients_slider_header"></div>
                                        <ul class="clients clients_slider_ul">
                                            <li>
                                                <div class="client_wrapper">
                                                    <img width="150" height="45"
                                                         src="../../Content/wp-content/uploads/2019/07/NPCC-150x45.jpg"
                                                         class="scale-with-grid wp-post-image" alt=""
                                                         sizes="(max-width: 150px) 100vw, 150px" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="client_wrapper">
                                                    <img width="150" height="45"
                                                         src="../../Content/wp-content/uploads/2019/07/KU-150x45.jpg"
                                                         class="scale-with-grid wp-post-image" alt=""
                                                         sizes="(max-width: 150px) 100vw, 150px" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="client_wrapper">
                                                    <img width="150" height="45"
                                                         src="../../Content/wp-content/uploads/2019/07/ETHIHAD-150x45.jpg"
                                                         class="scale-with-grid wp-post-image" alt=""
                                                         sizes="(max-width: 150px) 100vw, 150px" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="client_wrapper">
                                                    <img width="150" height="45"
                                                         src="../../Content/wp-content/uploads/2019/07/ADNOC-150x45.jpg"
                                                         class="scale-with-grid wp-post-image" alt=""
                                                         sizes="(max-width: 150px) 100vw, 150px" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="client_wrapper">
                                                    <img width="150" height="45"
                                                         src="../../Content/wp-content/uploads/2019/07/DRAGON-150x45.jpg"
                                                         class="scale-with-grid wp-post-image" alt=""
                                                         srcset="../../Content/wp-content/uploads/2019/07/DRAGON-150x45.jpg 150w, ../../Content/wp-content/uploads/2019/07/DRAGON-150x45.jpg 50w, ../../Content/wp-content/uploads/2019/07/DRAGON-150x45.jpg 200w"
                                                         sizes="(max-width: 150px) 100vw, 150px" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-sn5fjbb1k  no-margin-h"
                     style="padding-top:110px;padding-bottom:70px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-o27uj2wr6 one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-vdtzcw4vw one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color:#6d6e72">WHERE CAN YOU FIND US</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-k4srygryc one-second column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3631.2917214201248!2d54.36718881499534!3d24.475347184237012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e67c1c4e57ac5%3A0x63339ddab306a991!2sStar+Security+Services!5e0!3m2!1sen!2sae!4v1564577878226!5m2!1sen!2sae"
                                                width="100%" height="490" frameborder="0" style="border:0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5lswnsgwl one-second column_column">
                                    <div class="column_attr clearfix align_left" style="padding:15px;">
                                        <h4 style="color:#6d6e72">Send Message</h4>
                                        <div role="form" class="wpcf7" id="wpcf7-f68-p2-o2" lang="en-US"
                                             dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="#wpcf7-f68-p2-o2"
                                                  method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="68" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.1.6" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag"
                                                           value="wpcf7-f68-p2-o2" />
                                                    <input type="hidden" name="_wpcf7_container_post"
                                                           value="2" />
                                                </div>
                                                <div class="column one-second">
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input type="text" name="your-name" value="" size="40"
                                                               class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                               aria-required="true" aria-invalid="false"
                                                               placeholder="Your name" />
                                                    </span>
                                                </div>
                                                <div class="column one-second">
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input type="email" name="your-email" value="" size="40"
                                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                               aria-required="true" aria-invalid="false"
                                                               placeholder="Your e-mail" />
                                                    </span>
                                                </div>
                                                <div class="column one">
                                                    <span class="wpcf7-form-control-wrap your-subject">
                                                        <input type="text" name="your-subject" value="" size="40"
                                                               class="wpcf7-form-control wpcf7-text"
                                                               aria-invalid="false" placeholder="Subject" />
                                                    </span>
                                                </div>
                                                <div class="column one">
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="your-message" cols="40" rows="11"
                                                                  class="wpcf7-form-control wpcf7-textarea"
                                                                  aria-invalid="false"
                                                                  placeholder="Message"></textarea>
                                                    </span>
                                                </div>
                                                <div class="column one">
                                                    <input type="submit"
                                                           value="SEND A MESSAGE"
                                                           class="wpcf7-form-control wpcf7-submit" />
                                                </div>
                                                <input type='hidden' class='wpcf7-pum'
                                                       value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whf7ojtbh one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-j145ivpyv one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 80px;" />
                                </div>
                                <div class="column mcb-column mcb-item-bua7hibng one column_column column-margin-20px">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color: #000;">
                                            YOU WANT TO KNOW MORE OR HAVE ANY
                                            QUESTIONS?<br /> PLEASE CONTACT US
                                        </h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-otdfj5nc3 one column_button">
                                    <div class="button_align align_center">
                                        <a class="button  button_right button_size_2 button_theme button_js"
                                           href="@Url.Action("ContactUs", "Client")">
                                            <span class="button_icon">
                                                <i class="icon-right-dir"></i>
                                            </span><span class="button_label">CONTACT US</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

