
@{
    ViewBag.Title = "Profesional";
}
@section sub_header_persional {
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">PROFESSIONAL SERVICES</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40" id="mt-40"
                     style="padding-top:110px;padding-bottom:70px;background-color:#1f1f1f">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnetoqwrz one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h3>
                                            PROFESSIONAL
                                            SERVICES
                                        </h3>

                                        <h6 class="themecolor" style="text-transform: uppercase;">
                                            Star Security
                                            Services L.L.C is 100% locally established company owned by H.E.
                                            Musallam Al Qubaisi as such we follow the UAE rules. All our senior
                                            management is from the Army / Police background and they are members
                                            of American Society for Industrial Safety and Security.
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-w3t94awfi two-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            <ul>
                                                <li>
                                                    Guarding Services as laid down by the PSBD, Abu Dhabi Police.
                                                </li>

                                                <li>Guarding the Oil & Gas fields, onshore and offshore.</li>

                                                <li>Guarding the warehouses.</li>

                                                <li>Guarding the factories and production facilities.</li>

                                                <li>Guarding hospitals and health centers.</li>

                                                <li>
                                                    Giving security covers to the banks, government bodies and
                                                    institutions.
                                                </li>

                                                <li>Covering special ceremonies and festivals.</li>

                                                <li>Protecting ships, vessels and ports.</li>

                                                <li>
                                                    Guarding hotels and hotel apartments, private premises and other
                                                    properties.
                                                </li>

                                                <li>Guarding malls and department stores.</li>

                                                <li>Covering universities, institutes and schools.</li>

                                                <li>
                                                    Guarding airports facilities, accessories and sport stadiums.
                                                </li>

                                                Protecting buildings and institutions which are under construction.
                                                </li>

                                                <li>Guarding embassies and diplomatic corps.</li>

                                                <li>Security Audit and Investigations.</li>

                                                <li>Professional Training and Development.</li>

                                                <li>Risk Management & Loss Prevention.</li>

                                                <li>
                                                    Event Management such as marriages, cultural, event,
                                                    star/musical show etc.
                                                </li>

                                                <li>
                                                    Technical assistance for Surveillance Systems. Providing trained
                                                    security personnel as CCTV operator, receptionist, telephone
                                                    operator, BMS operators and for car parking.
                                                </li>
                                                <li>Providing manpower for mobile patrol service.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

