
@{
    ViewBag.Title = "Training";
}
@section sub_header_training{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">TRAINING</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width mt-40"
                     style="padding-top:0px;padding-bottom:0px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:70px 8% 70px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4d35b29d5 three-fifth column_column text-white">
                                    <div class="column_attr clearfix align_left" style="padding:0 10px 0 0;">
                                        <h2 style="margin-bottom: 0;">TRAINING </h2>
                                        <hr class="no_line" style="margin: 0 auto 10px;" />

                                        <p>
                                            Star Security Services provides induction training through its PSBD
                                            qualified trained instructors, before the new recruits enter the
                                            actual work field. It has set up a dedicated Training Institute in
                                            Mussafah area. The successful candidates are sent to National
                                            Security Institute (NSI) for a period of five days for training. The
                                            guards who qualify NSI are sent for the PSBD examination to obtain
                                            police license.

                                        </p>
                                        <p>
                                            The security guards are put on duty only after successful completion
                                            of Basic Training & obtaining PSBD license from Abu Dhabi Police
                                            Star Security Services has a fair mix of nationalities in its
                                            workforce which includes people from Asian, African and Arab
                                            countries. This blend of nationalities meets the needs of multiple
                                            option traders with respect to communication and networking
                                            channels.
                                        </p>



                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-jcx33gw38 two-fifth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid"
                                                 src="~/Content/wp-content/uploads/2019/12/training.jpg" alt=""
                                                 title="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40" id="mt-40"
                     style="padding-top:100px;padding-bottom:40px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one-fourth  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnetoqwrz one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h4 class="themecolor" style="text-transform: uppercase;">
                                            Some of the
                                            areas covered during induction training are
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-w3t94awfi three-fourth  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one-second column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            <ul>
                                                <li>Vision and company's objectives</li>
                                                <li>Personal conduct </li>
                                                <li>Uniform</li>
                                                <li>Public Relation</li>
                                                <li>Etiquette regarding communication and conversation</li>
                                                <li>Discipline</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-odxes3d3s one-second column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            <ul>
                                                <li>
                                                    Communication skills and duties
                                                </li>
                                                <li>Essential principles of security</li>
                                                <li>Writing of reports</li>
                                                <li>Preparation of documents</li>
                                                <li>Delivery/Receipt of duty and task sheets</li>
                                                <li>Preventive measures/countermeasures </li>
                                                <li>Firefighting Drill </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-dtm7llnio one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-apm0megq8 one-fourth column_column">
                                    <div class="column_attr clearfix" style=""></div>
                                </div>
                                <div class="column mcb-column mcb-item-zb3amd6ln three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0px 0px 0px 30px;">
                                        <p>
                                            Keeping in tune with the PSBD rules & regulations, we send all our
                                            guards for refresher training every year which improves the quality
                                            of our guards. The company's top management maintains a very close
                                            liaison with CEO-NSI & Director-PSBD.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>
