
@{
    ViewBag.Title = "Whysss";
}
@section sub_header_Whysss{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">WHY SSS</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-aws2hfhu4 mt-40  text-white" id="mt-40"
                     style="padding-top:70px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z29txcs2b one-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bnetoqwrz one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <h3>What we Do ?</h3>

                                        <h6 style="text-transform: uppercase; color:#fff;">
                                            Star Security
                                            Services L.L.C is 100% locally established company owned by H.E.
                                            Musallam Al Qubaisi as such we follow the UAE rules. All our senior
                                            management is from the Army / Police background and they are members
                                            of American Society for Industrial Safety and Security.
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-w3t94awfi two-third  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6qi9g2zs5 one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            <ul>
													<li>Excellent track record of supply to reputed organizations such
														as ADNOC, ADNOC (FOD), GASCO, NDC, IAT, AL HOSN GAS, Khalifa
														University, NPCC, Etihad Rail, Abu Dhabi Municipality.</li>

													<li>Our promptness & quality of our services is our credibility.
													</li>

													<li>Our National Security Institute results are far the best because
														of the high quality recruitments of guards done by our managers.
													</li>

													<li>Excellent experienced & professional security personnel are
														supplied to meet client’s requirements.</li>

													<li>We take valuable feedback from our clients for continuous
														improvements.</li>

													<li>Comprehensive & professional methods of recruitments to provide
														best security personnel to our clients.</li>

													<li>Our strength lies in specialized domain knowledge of security
														industry</li>




													</ul>
													</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-dtm7llnio one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-zb3amd6ln one column_column">
                                    <div class="column_attr clearfix" style="">
                                        <p>
                                            Star Security Services believes in the importance of providing
                                            quality services in accordance with local and international
                                            regulatory requirements based on integrated management systems. Most
                                            of our security staff are graduate or from the Army / Para Military
                                            forces background who have adequate experience and knowledge about
                                            security company in U.A.E to follow Emiratization policy of the
                                            Government. We have over 50 security staff as U.A. E. nationals.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

