
@{
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
@section style{
    <style>
        .header-authen {
            margin-top: 10px;
        }
        .fa-exclamation-triangle{
            color: red;
        }
        .color-title {
            color: red;
        }
    </style>
}
<div class="container py-5 header-authen">
    <div class="row">
        <div class="col-md-2 text-center">
            <h4><i class="fa fa-exclamation-triangle fa-5x"></i><br /><b>Status Code: 401</b></h4>
        </div>
        <div class="col-md-10">
            <h2 class="color-title"><b>OPPSSS!!!! Sorry...</b></h2>
            <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br />Please go back to the previous page to continue browsing.</p>
        </div>
    </div>
</div>

